<div class="row">
  <div class="col-md-8 col-md-offset-2 well">
    <h2 class="shave">About Us</h2>
    <p>Welcome to Dev Match. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas.</p>
    <p>Dev Match was founded in 2015 by Tyler Acosta, as a project for the Coder Manual web development class.</p>
    <p>This website is powered by Ruby on Rails (via the Cloud9 IDE), uiGradients, Bootstrap, Font Awesome, SendGrid, Devise, Stripe, Figaro, Imagemagick, and Paperclip.</p>
    <p>Special thanks to Robeen Dey.</p>
  </div>
</div>